.container
  .row
    .col-md-8.align-self-left.justify-content-md-center
      h1(align="justify") Send me an email
      p(align="justify")
       a(href="mailto:aymard.laurent@gmail.com") aymard.laurent@gmail.com
.container
  .row
    .col-md-12.align-self-left.justify-content-md-center
      h1(align="justify") Follow me
  .row
    .col-md-3.align-self-left.justify-content-md-center.d-flex.justify-content-center
      p(align="justify")
        a(href="https://twitter.com/aymard_laurent") Twitter
    .col-md-3.align-self-left.justify-content-md-center
      p(align="justify")
        a(href="https://www.linkedin.com/in/laurentaymard/") LinkedIn
    .col-md-3.align-self-left.justify-content-md-center
      p(align="justify")
        a(href="https://github.com/laymard") Github
    .col-md-3.align-self-left.justify-content-md-center
      p(align="justify")      
        a(href="https://laurenoutang.itch.io/") Itch.io