.py-1
.container
  .row
    .col-md-12.align-self-left.justify-content-md-center
      h1(align="justify") Send me an email
      .d-flex.justify-content-center
        p(align="justify")
        a(href="mailto:aymard.laurent@gmail.com") aymard.laurent@gmail.com
.py-3
.container
  .row
    .col-md-12.align-self-left.justify-content-md-center
      h1(align="justify") Follow me
  .py-1
  .row
    .col-6.col-md-3
      a(href="https://twitter.com/aymard_laurent").d-flex.justify-content-center
        img(src="/img/twitter.png").social-media-img
    .col-6.col-md-3
      a(href="https://www.linkedin.com/in/laurentaymard/").d-flex.justify-content-center
        img(src="/img/linkedin.png").social-media-img
    .col-6.col-md-3
      a(href="https://github.com/laymard").d-flex.justify-content-center
        img(src="/img/github.png").social-media-img
    .col-6.col-md-3
      a(href="https://laurenoutang.itch.io/").d-flex.justify-content-center
        img(src="/img/itch-io.png").social-media-img