section.jumbotron.text-center
  .container
    h1.jumbotron-heading Welcome ! 
    |           
    p.lead.text-muted
      | Hi ! My name is Laurent Aymard and I am passionate by making games ! Check out my projcets to find out more about my work :)
    |           
    p
      a.btn.btn-primary.my-2(href="projects.html") View projects