section.jumbotron.text-center.no-background
  .container
    img.rounded-circle(src="/img/profil_pic.jpg", alt="Generic placeholder image", width="200", height="200")
    h1.jumbotron-heading Welcome ! 
    |           
    p.lead.text-muted
      | Hi ! My name is Laurent Aymard and I am passionate by making games ! Check out my projects to find out more about my work :)
    .row.d-flex.justify-content-md-center
      .col-md-2.col-md-offset-5
        a.btn.btn-primary.my-2(href="projects.html") View projects
      .col-md-2.col-md-offset-5
        a.btn.btn-primary.my-2(href="/doc/resume_Aymard_Laurent.pdf" download) Download resume

.container-fluid.bg-home1
  .container
    .row
      .col-md-8.align-self-left.justify-content-md-center
        h1(align="justify") About me
        p(align="justify") Since I was a kid, I have always been passionated in games. From Mega Man 2 on Nintendo Nes to the last God Of War on Playstaion 4, I have acquired a huge video game culture. Now then, I love making games. Collaborating with designers, animators and artists to make our vision come to life is what keeping me in the industry.
      .col-md-4.align-self-center.justify-content-md-center.d-flex.justify-content-center
        img(src="/img/icon_controller.jpg", alt="Generic placeholder image", width="200", height="200")
.container
  hr
    