mixin navitem(name, )
  if current.source == name
  li.nav-item.active
      a.nav-link(href="index.html")
        | Home
        span.sr-only (current)

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
    .container
      a.navbar-brand(href="#") Laurent Aymard
      |         
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarResponsive", aria-controls="navbarResponsive", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
      |         
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item(class = "#{ current.source == 'index' ? 'active' : '' }")
            a.nav-link(href="index.html")
              | Home
              span.sr-only (current)
          |             
          li.nav-item(class = "#{ current.source == 'projects' ? 'active' : '' }")
            a.nav-link(href="projects.html") Projects
          |          
          li.nav-itemli.nav-item(class = "#{ current.source == 'contact' ? 'active' : '' }")
            a.nav-link(href="contact.html") Contact