@media (max-width: 480px) {
  .navbar-brand
  {
    font-size:14px;
  }
}
html {
	position: relative;
	height: 100%;
}
body {
  height: 100%;
  display :flex;
  flex-direction: column;
}
.wrapper {
  flex: 1 0 auto;
 
}
footer {
  flex-shrink:0; 
}

.bg-home1
{
  background-color: #ffffff;
}

