doctype html
html(lang="en")
  head
    include ./header.jade
  body
    .wrapper
      include ./includes/navbar.jade
      include ./includes/contact.jade
    include ./includes/footer.jade
    script(src="vendor/jquery/jquery.min.js")
    script(src="vendor/bootstrap/js/bootstrap.bundle.min.js")