doctype html
html(lang="en")
  head
    include ./header.jade
  body 
    include ./includes/navbar.jade 
    != partial("projects/projects_item_list",{ title :"APT", detail : "Iworked on APT"})
    include ./includes/footer.jade
    script(src="vendor/jquery/jquery.min.js")
    script(src="vendor/bootstrap/js/bootstrap.bundle.min.js")