doctype html
html(lang="en")
  head
    include ./header.jade
  body 
    include ./includes/navbar.jade 
    script(src="vendor/jquery/jquery.min.js")
    script(src="vendor/bootstrap/js/bootstrap.bundle.min.js")