extends project-item.jade

block content
  .container
    // Portfolio Item Heading
    h1.my-4
      | 2D Collision Engine
    // Portfolio Item Row
    .row
      .col-md-8.embed-responsive.embed-responsive-4by3
        iframe.embed-responsive-item(src="https://www.youtube.com/embed/oYaw3Zo2vvU", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen="")
      |         
      .col-md-4
        h3 Project description
        |           
        p(align="justify") 
          | During the Game Programming course, I had to develop a 2D physic engine. Starting from an empty OpenGL window, I had to code a quick renderer and implement moving objects with collision response.
        h3.my-3 Features
        |           
        ul
          li Calcul of collisions between spheres and planes
          |             
          li Mesh Rendering
          |             
          li Getting input from mouse to apply velocity to the white ball
        |           
        h3.my-3 Development details
        |           
        ul
          li Code in C++
          |   
          li Use of NCLGL librarie, an easy wrapper of OpenGL
          |   
          li Use of Visual Studio
    
