extends project-item.jade

block content
  .container
    // Portfolio Item Heading
    h1.my-4
      | A Plague Tale : Innocence
    // Portfolio Item Row
    .row
      .col-md-8.embed-responsive.embed-responsive-4by3
        iframe.embed-responsive-item(src="https://www.youtube.com/embed/djmHcNBe1Z4", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen="")
      |         
      .col-md-4
        h3 Project description
        |           
        p(align="justify") 
          | An ambitious adventure game to be released in 2019 on PC, PS4 and Xbox One. Developped at Asobo Studio in France, produced by Focus Home Interactive.
        |           
        h3.my-3 Contributions
        |           
        ul
          li Creation of inventory, craft and upgrade system
          |             
          li Implementation of gameplay animations for the main character
          |             
          li Creation of menu and in-game UI
          |             
          li Development of components usable by level designers
          |             
          li Bug resolution
        |           
        h3.my-3 Development details
        |           
        ul
          li Code in C++
          |             
          li Usage of internal engine
          |             
          li Perforce for version control
