extends project-item.jade

block content
  .container
    // Portfolio Item Heading
    h1.my-4
      | Urban scene simulation on Unity3D
    // Portfolio Item Row
    .row
      .col-md-8
        img.img-fluid(src="/img/urban_city.jpg", alt="")
      |         
      .col-md-4
        h3 Project Description
        |           
        p(align="justify") 
          | Within a research and development team, my work was to improve a simulation of an urban scene, involoving cars and pedestrians. I had to improve their behavior, and search or improve graphic aspect of the scene.
          b  Important Note : 
          | due to confidentialty, I am not able to show you my work on that project. The picture on the left is just for illustration. 
        |           
        h3.my-3 Contributions
        |           
        ul
          li Improving behavior of cars and pedestrian IA
          |             
          li Create tools in Unity Editor to configure and save different scenarios
          |             
          li Creation of pipeline importation in order to add new model of cars
        |           
        h3.my-3 Development details
        |           
        ul
          li Code in C#
          |   
          li Use of Unity
          |   
          li Use of Unity Editor to create edition tools
          |   
          li Edit assets on Blender
    
