  
.row
  .col-md-7
    a(href="#")
      img.img-fluid.rounded.mb-3.mb-md-0(src!=cover_image_url, alt="")
  |         
  .col-md-5
    h3 
      != title
    |           
    p(align="justify")
      != detail
    |           
    a.btn.btn-primary(href!=project_url) View Project
// /.row
hr
