.container
  h1.my-4
    | Projects I worked on
  |       
  .row
    .col-md-7
      a(href="#")
        img.img-fluid.rounded.mb-3.mb-md-0(src!=cover_image_url, alt="")
    |         
    .col-md-5
      h3 
        != title
      |           
      p
       != detail
      |           
      a.btn.btn-primary(href="projects-apt.html") View Project
  // /.row
  hr
