doctype html
html(lang="en")
  head
    include ./header.jade
  body
    .wrapper.static-background
      include ../includes/navbar.jade 
      block content
    include ../includes/footer.jade
    script(src="../vendor/jquery/jquery.min.js")
    script(src="../vendor/bootstrap/js/bootstrap.bundle.min.js")